<h1>title</h1>

<%= @product.name %><br>
<%= @product.description.html_safe %><br>
<%= @product.price %>
<%= image_tag @product.image_name.to_s %>

<%= link_to '編集', edit_product_path %>

<%= link_to '削除', product_path(@product), method: :delete %>